<nav>
	<ul>
		<li><a href="/home"><img src="images/icon_home.png" alt="" id="homepage"></a></li>
		<li><a href="/profile"><img src="images/icon_profile.png" alt="" id="profilepage"></a></li>
	</ul>
</nav>