<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head'); -%>
</head>

<body>
    <%- include('includes/header'); -%>

    <%- include('includes/nav'); -%>

    <main>
        <h1>Welkom</h1>
        <h2>Nieuwe Gebruiker!</h2>

        <button id="homemessage">Maak je profiel!</button>
    </main>

    <script src="js/homescript.js"></script>
</body>

</html>