<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head'); -%>
</head>

<body>
    <%- include('includes/header'); -%>

    <%- include('includes/nav'); -%>

    <main>
        <h1>Welkom bij Match-A-Pet</h1>

        <button id="homemessage">Bekijk je profiel!</button>
    </main>

    <script src="js/homescript.js"></script>
</body>

</html>